version: "3.9"

services:
  web:
    build: ./web
    ports:
      - "80:80"     # Puerto est치ndar HTTP (para la redirecci칩n)
      - "443:443"   # Puerto est치ndar HTTPS (Tu web segura)
    volumes:
      - ./app:/var/www/html:z
      # Montamos la configuraci칩n de Nginx
      - ./web/default.conf:/etc/nginx/conf.d/default.conf
      # Montamos la carpeta de certificados
      - ./web/certs:/etc/nginx/certs
    depends_on:
      - php
    user: root

  php:
    build: ./php
    volumes:
      - ./app:/var/www/html:z