version: "3.9"

services:
  web:
    build: ./web
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html:z
    depends_on:
      - php
    user: root

  php:
    build: ./php
    volumes:
      - ./app:/var/www/html:z
